

.sidesticky{
    position: sticky; /* Makes the div sticky */
    top: 0;           /* Keeps it at the top as you scroll */
    height: 100vh;    /* Full viewport height */
    padding-top: 4vh;
    z-index: 10;   
  }


.cardm {
    height: 92vh;
    color: rgb(248, 245, 250);
    margin-bottom: 4vh;
    margin-left: 30px;
    background-color: #3c3b39;
    width: 280px;
    border-radius: 20px;
}


@media (max-width: 768px) {
   
    .social-link ul {
        display: none;
    }
}

@media (max-width:500px){
    .sidesticky{
        position: relative;
        padding-top: 0px;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cardm{
        margin-left: 0px;
        height: 64vh;
        margin-bottom: 0px;
    }
}




.cardm h1 {
    letter-spacing: 1.5px;
    font-weight: 550;
    line-height: 33px;
font-size: 30px;
}

.name {
    margin-left: 37px;
    padding-top: 17px;
    padding-bottom: 9px;
    line-height: 30px;
}

.cardm img {
    height: 210px;
    width: 210px;
    border-radius: 20px;
    margin-left: 35px;
    object-fit: cover;
}

.abt-me {
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.f-d {
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 500;
}

.h-5 {
    margin-top: 20px;

}

.u-d {
    font-size: 17px;
}

.c-d {
    font-size: 13px;
    margin-bottom: 33px;
}

.social-link ul {
    display: flex;
    list-style: none;
    margin-left: 35px;
    margin-right: 30px;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 20px;
}

.social-link ul li {
    border: 2px solid rgb(255, 255, 255);
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.social-link ul li a {
    text-decoration: none;
    font-size: 30px;
}

.btn-card {
    background: rgb(240, 210, 249);
    background: linear-gradient(90deg, rgba(240, 210, 249, 1) 27%, rgba(255, 209, 244, 1) 54%, rgba(213, 220, 255, 1) 100%);
    border: none;
    width: 230px;
    height: 35px;
    border-radius: 30px;
    font-weight: 500;
    margin-left: 26px;
    color: black;
}
.btn-card:hover{
    cursor: pointer;
    background-color: rgb(240, 210, 249);
    background: linear-gradient(90deg, rgba(240, 210, 249, 1) 27%, rgb(154, 201, 255) 54%, rgba(213, 220, 255, 1) 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    border:1px solid rgb(240, 210, 249) ;
    transition: all 0.5s ease;
}